<%# This receives the turbo stream %>
<%= turbo_stream_from "rooms" %>

<main class="container">
    <div class="header">
          <h1>Rooms</h1>

          <%# Stimulus demo, comment out below first %>
          <%# <div data-controller="hello">
            <input data-hello-target="user" type="text">
            <button data-action="click->hello#greet">Greet</button>
          <div> %>

          <%# Stimulus demo, comment out below first %>
          <%# <div data-controller="confetti">
            <button data-action="click->confetti#launchConfetti" class="btn btn--secondary">End Of Demo!</button>
          </div> %>

          <%= link_to "New Room",
                new_room_path,
                data: { turbo_frame: "new_room"},
                class: "btn btn--primary" %>
    </div>

    <%# comment out first, this is an invinsible div %>
    <%= turbo_frame_tag "new_room" do %><% end %>

    <%# to show the partial _room.html.erb %>
    <%= turbo_frame_tag "rooms" do %>
        <%= render @rooms %>
    <% end %>

    <%= paginate @rooms %>
</main>