<%= turbo_stream_from @room %>

<%# add turbo_frame_tag @room for demo %>
<%# <%= turbo_frame_tag @room do %>
  <main class="container">
  <%= link_to sanitize("&larr; Back to rooms"), rooms_path %>

  <div class="header">
    <h1>
      <%= @room.name %>
    </h1>
  </div>

  <%= turbo_frame_tag "messages" do %>
    <%= render @room.messages %>
  <% end %>

  <%= link_to "New Message", 
        new_room_message_path(@room), 
        data: { turbo_frame: "new_message" } %>

  <%= turbo_frame_tag "new_message" do %>
  <% end %>
</main>
<%# <% end %>